<mat-card>
  <mat-card-header>
    <div mat-card-avatar><mat-icon>description</mat-icon></div>
    <mat-card-title>{{data.name}}</mat-card-title>
    <mat-card-subtitle>{{data.acronym}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{data.description}}
    </p>
  </mat-card-content>
  <mat-card-actions  style="text-align:right;" >
    <button mat-fab class="mat-mini-fab" matTooltip="Preencher atividade" aria-label="Preencher atividade" on-click="callPreview()">
      <mat-icon>play_circle_outline</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
