<div  fxLayout="column" fxFlexFill >
  <mat-toolbar color="primary" *ngIf="currentUser">
    <mat-toolbar-row fxLayoutAlign="start center" fxLayoutGap="10px">
      <span id="title">{{ title }}</span>
      <span fxFlex></span>
      <div fxFlex="" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon aria-hidden="false" aria-label="user" matBadgeOverlap="false" matBadgeColor="warn"
                    matBadgePosition="before">account_circle</mat-icon>
          {{ currentUser.name }}
        </button>
        <mat-menu #menu="matMenu" fxLayout="column">
          <button mat-menu-item class="mat-button mat-flat-button" fxFlex (click)="logout()">
            <mat-icon aria-hidden="false" aria-label="menu">exit_to_app</mat-icon>
            Sair
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-alert></app-alert>
  <mat-sidenav-container fxFlex="100">
    <mat-sidenav-content style="background-color: #ffffff">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
